<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="org.smarttube.stable"/>
        <package android:name="net.filmix.filmix"/>
        <package android:name="es.ottplayer.tv"/>
    </queries>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyMapper">

        <service
            android:name=".Mapper"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>
               <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
               android:name="android.accessibilityservice"
               android:resource="@xml/accessibilityservice" />

        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:banner="@drawable/banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
